# Repo specific
data/
checkpoints/
logdir/
tensorboard/target/

# Build artifacts
target/
build/

# Git
.git/
.gitignore

# Docker files
.docker/
Dockerfile*
.dockerignore

# Training artifacts
checkpoint/
logdir/
traces/
*.csv

# Documentation
*.md
doc/

# IDE and editor files
.vscode/
.devcontainer/
.idea/
*.swp
*.swo
*~
.DS_Store

# Python
serve.py
__pycache__/
*.pyc
venv/
.venv/

# Fly
fly.toml
