# Repo specific
data/
checkpoints/
logdir/
tensorboard/target/

# Build artifacts
target/
build/
trace/
traces/
tensorboard/src/tensorboard_generated/
junk/
vendor/

# Git
.git/
.gitignore

# Docker files
.docker/
Dockerfile*
.dockerignore

# Training artifacts
artifacts/
!artifacts/.gitkeep
checkpoint/
logdir/
traces/
*.csv

# Documentation
*.md
doc/

# IDE and editor files
.vscode/
.devcontainer/
.idea/
*.swp
*.swo
*~
.DS_Store

# Python
serve.py
__pycache__/
*.pyc
vendor/
!vendor/.gitkeep
venv/
.venv/

# Fly
fly.toml
fly.*.toml